*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
/* h1{
  text-align: center;
  text-decoration:underline ;
  text-transform: capitalize;
  text-decoration-thickness:2px;
  text-underline-offset:8px;
  text-indent: 30px;
}
p{
  text-indent:4px;
  text-shadow: 3px 3px 11px rgb(135, 34, 34);
  font-variant: small-caps;
   font-feature-settings: "liga";

}
.box1{
  height: 200px;
  width: 200px;
  background-color: aqua;
  margin-left: 13px;
  
  
  
}
.box{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  
} */

/* .chess{
  height: 200px;
  /* width: 100vh; */
 
/* }
.grid{
  display:grid;
  grid-template-columns:repeat(8,200px);
}
.chess:nth-child(16n+1),.chess:nth-child(16n+3),.chess:nth-child(16n+5),.chess:nth-child(16n+7),.chess:nth-child(16n+10),.chess:nth-child(16n+12),.chess:nth-child(16n+14),.chess:nth-child(16n+16){
  background: black;

}  */


/* .container{

  display: grid;
  grid-template-columns: 378px 378px 378px 378px;
  grid-template-rows: 222px 222px 222px;
  gap: 5px;
}
.box1{
  background: rgb(114, 114, 168);
  grid-row: 1/4;
  display: grid;
  justify-items: center;
  align-items: center;
  
}
.box2{
  background-color: aqua;
  grid-column: 2/4;
  display: grid;
  justify-items: center;
  align-items: center;

}
.box3{
  background:rgb(114, 114, 168);
  grid-column: 4/5;
  display: grid;
  justify-items: center;
  align-items: center;
}
.box4{
  background: aqua;
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  justify-items: center;
  align-items: center;
}
.box5{
  background: rgb(114, 114, 168);
  grid-column: 3/4;
  grid-row: 2/3;
  display: grid;
  justify-items: center;
  align-items: center;
}
.box6{
  background: aqua;
  grid-row: 2/4;
  grid-column: 4/5;
  display: grid;
  justify-items: center;
  align-items: center;
}
.box7{
  background: rgb(114, 114, 168);
  grid-row: 3/4;
  grid-column: 2/3;display: grid;
  justify-items: center;
  align-items: center;
}
.box8{
  background: aqua;
  grid-column: 3/4;
  grid-row:3/4;
  display: grid;
  justify-items: center;
  align-items: center;
} */

/* .container{
  display: grid;
  height: 100vh;
  gap: 5px;
  grid-template-rows: repeat(4,1fr);
  grid-template-columns: repeat(3.1fr);
}
.header{
  background: rgb(220, 239, 112);
  display: grid;
  justify-items: center;
  align-items: center;
  grid-column: 1/4;
  grid-row: 1/2;

}
.sidebar{
  display: grid;
  justify-items: center;
  align-items: center;
  background: rgb(103, 219, 103);
  grid-column: 1/2;
  grid-row: 2/4;
}
.main{
  display: grid;
  justify-items: center;
  align-items: center;
  background: rgb(216, 44, 44);
  grid-column: 2/4;
  grid-row: 2/3;
}
.section{
  display: grid;
  justify-items: center;
  align-items: center;
  background: blueviolet;
  grid-column: 2/3;
  grid-row: 3/4;
}
.content{
  display: grid;
  justify-items: center;
  align-items: center;
  background: rgb(179, 99, 179);
  grid-column: 3/4;
  grid-row: 3/4;
}
.footer{
  display: grid;
  justify-items: center;
  align-items: center;
  background: skyblue;
  grid-column: 1/4;
  grid-row: 4/5;
} */

/* .body{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns:4fr 2fr ;
}
.header{
  background: whitesmoke;
  grid-column: 1/3;
  grid-row: 1/2;
  display: grid;
  padding: 5px;
  grid-template-rows: 2fr 1fr;
  
}
.header .nav{
  grid-row: 2/3;
  background: rgb(121, 121, 230);
}
.section1{
  background: rgb(138, 229, 138);
  display: grid;
  grid-template-columns:1fr ;
  grid-template-rows: 1fr 6.5fr;
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 5px;
  gap: 5px;

}


 .article{
  background: rgb(185, 116, 116);
  grid-row: 2/3;
  gap: 5px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:1fr 2fr 2fr 1.5fr;
  background: rgb(233, 115, 115);
}
.para1{
  grid-column: 1/3;
  grid-row: 2/3;
  background: violet;
}
.para2{
  grid-column: 1/2;
  grid-row: 3/4;
  background: violet;
}
.aside{
  background: rgb(226, 226, 145);
  grid-row: 3/4;
  grid-column: 2/3;
}
.article .footer{
  grid-column: 1/3;
  grid-row: 4/5;
}
.section2{
  background: rgb(191, 157, 95);
  display: grid;
  padding: 5px;
  grid-column: 2/3;
  grid-row: 2/3;
  gap: 5px;
  grid-template-rows:1fr 6fr;
  grid-template-columns: 1fr;
}
.section2 .header{
  grid-row: 1/2;
  
}
.section2 .nav{
  grid-row: 2/3;
  background: blue;
}

.footer{
  background: green;
  grid-column: 1/3;
  grid-row: 3/4;
} */

.page1{
  height: 100vh;
 background-color:#FDB095;
}
.page2{
  height: 100vh;
 background:#210440;
 

}
.page3{
  height: 100vh;
 background:#E5958E;
}
.page4{
  height: 100vh;
 background:#FFBA00;
}
.page5{
  height: 100vh;
 background:#96C7B3;
}
/* .box{
  height: 200px;
  width: 200px;
  background: #Ca1F3D;
  position: relative;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%); */
/* } */
/* .box2{
height: 180px;
  width: 200px;
  background: #6D9773;
}
.box3{
  height: 180px;
  width: 200px;
  background: #0C3B2E;

}
.box4{
  height: 180px;
  width: 200px;
  background: #BBBA52;
}
.box1{
  height: 100px;
  width: 100px;
  background: #F0EDE5;
  position: absolute;
  top: 50%;
  left: 10%;
} */ 
/* .box5{
 height: 200px;
 width: 200px;
 background: #0DA574;
 position: sticky;
 top: 90%;
 left: 30%;
 transform: translate(-90%,-30%);
 -webkit-transform: translate(-90%,-30%);
 -moz-transform: translate(-90%,-30%);
 -ms-transform: translate(-90%,-30%);
 -o-transform: translate(-90%,-30%);
} */

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 400px;
  border-radius: 10px;
  opacity: .7;
  padding: 30px;
  background: #95E1FD;
  display: flex;
  justify-content: center;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#user:focus{
  background: #FDB095;
  border: 2px solid #FDB095;

}
#name{
  margin-bottom: 50px;
  margin-top: 50px;
}
.form h5{
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#btn{
  width: 250px;
  height: 20px;
  margin-top:150px;
  border-radius: 23px;
  background: #210440;
  color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}
#btn:hover{
  background: #FDB095;
}
.form:hover{
  background: #FFBA00;
 box-shadow: 3px 3px 1px #96C7B3;
}
#user::selection{
  background: #96C7B3;
}
